In [2]:
# import libaries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# import Data
Books = pd.read_csv("C:/Users/ritik/OneDrive/Desktop/Books.csv")

C:\Users\ritik\AppData\Local\Temp\ipykernel_16364\2188716917.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  Books = pd.read_csv("C:/Users/ritik/OneDrive/Desktop/Books.csv")

In [3]:
# take out columns name
Books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [4]:
# Get idea of our data
Books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
# Feature Selection
book = Books[['ISBN','Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-L']]

In [6]:
# take out book shape
book.shape

(271360, 6)

In [5]:
# rename columns names of book
book.rename(columns=
            {
                'Book-Title':'Title', 
                'Book-Author' : 'Author', 
                'Year-Of-Publication':'Year_Of_Publication', 
                'Image-URL-L':'Image_URL_L'
                }, inplace = True)

C:\Users\ritik\AppData\Local\Temp\ipykernel_16364\188298235.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book.rename(columns=

In [6]:
# other data import
user = pd.read_csv("C:/Users/ritik/OneDrive/Desktop/Users.csv")

In [9]:
user.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
# again rename
user = user.rename(columns = {
    'User-ID': 'User_ID'
})

In [11]:
user.shape

(278858, 3)

In [8]:
# import data for rating
rating = pd.read_csv("C:/Users/ritik/OneDrive/Desktop/Rating.csv")

In [13]:
rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726   155061224            5
2   276727   446520802            0
3   276729  052165615X            3
4   276729   521795028            6

In [14]:
rating.shape

(1048575, 3)

In [9]:
# get idea of all data 
print(book.shape)
print(rating.shape)
print(user.shape)

(271360, 6)
(1048575, 3)
(278858, 3)

In [10]:
# rename rating columns
rating = rating.rename(columns = {
    'User-ID':'User_ID',
    'Book-Rating':'Rating'
})

In [11]:
rating.head()

   User_ID        ISBN  Rating
0   276725  034545104X       0
1   276726   155061224       5
2   276727   446520802       0
3   276729  052165615X       3
4   276729   521795028       6

In [14]:
# Find no. of user or find out actual number of user
rating['User_ID'].unique().shape

(95513,)

In [15]:
# find out which user give how many time rating 
rating['User_ID'].value_counts()

User_ID
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
104999        1
105002        1
105008        1
105014        1
123969        1
Name: count, Length: 95513, dtype: int64

In [99]:
# apply a condition to get use ful data
x=rating['User_ID'].value_counts()>200

In [100]:
# get total number of true value of given condition
x[x].shape

(815,)

In [101]:
# find the index of number of true value of given condition
y = x[x].index

In [102]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
        33145,  88793, 116122,  73681,   9856, 188951,  44296, 155916,  28634,
        59727],
      dtype='int64', name='User_ID', length=815)

In [103]:
# take out the y data from the rating data on the basis of given cindition ('user_id')
rating = rating[rating['User_ID'].isin(y)]

In [104]:
rating.head()

      User_ID        ISBN  Rating
1456   277427  002542730X      10
1457   277427    26217457       0
1458   277427  003008685X       8
1459   277427    30615321       0
1460   277427    60002050       0

In [105]:
rating.shape

(482728, 3)

In [106]:
# merge the rating to book data frame on basis of same column ('isbn')
rating_book = rating.merge(book,on = ["ISBN"])

In [107]:
rating_book.shape

(446867, 8)

In [108]:
# take an look of rating_book data 
rating_book.head(2)

,User_ID,ISBN,Rating,Title,Author,Year_Of_Publication,Publisher,Image_URL_L
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [109]:
# creating a data frame of title and rating which is our actual and usefull data for model
no_of_rating = rating_book.groupby('Title')['Rating'].count().reset_index()

In [110]:
no_of_rating.head()

                                               Title  Rating
0   A Light in the Storm: The Civil War Diary of ...       2
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Beyond IBM: Leadership Marketing and Finance ...       1
4   Clifford Visita El Hospital (Clifford El Gran...       1

In [111]:
# again rename the columns
no_of_rating.rename(columns={'Rating': 'Num_Rating'} )

                                                    Title  Num_Rating
0        A Light in the Storm: The Civil War Diary of ...           2
1                                   Always Have Popsicles           1
2                    Apple Magic (The Collector's series)           1
3        Beyond IBM: Leadership Marketing and Finance ...           1
4        Clifford Visita El Hospital (Clifford El Gran...           1
...                                                   ...         ...
153236                             Ã?Â?ber das Fernsehen.           2
153237  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...           3
153238                                      Ã?Â?lpiraten.           1
153239                     Ã?Â?rger mit Produkt X. Roman.           1
153240                                  Ã?Â?thique en toc           1

[153241 rows x 2 columns]

In [112]:
# merge the rating_book dataframe to no_of_rating on the basis of title
Rating = rating_book.merge(no_of_rating,on = 'Title')

In [113]:
Rating.head(2)

,User_ID,ISBN,Rating_x,Title,Author,Year_Of_Publication,Publisher,Image_URL_L,Rating_y
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,74
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,74

In [114]:
Rating.shape

(446867, 9)

In [140]:
# apply condition for filter out our finale data
Finale_rating=Rating[Rating['Rating_y']>=50]

In [141]:
Finale_rating.head(2)

,User_ID,ISBN,Rating_x,Title,Author,Year_Of_Publication,Publisher,Image_URL_L,Rating_y
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,74
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,74

In [142]:
# find out any duplicated raw is present or not
dup = Finale_rating[Finale_rating.duplicated(['User_ID','Title'])]

In [118]:
dup

,User_ID,ISBN,Rating_x,Title,Author,Year_Of_Publication,Publisher,Image_URL_L,Rating_y
1142,11676,670894605,10,The Secret Life of Bees,Sue Monk Kidd,2002,Viking Books,http://images.amazon.com/images/P/0670894605.0...,188
1144,16795,670894605,10,The Secret Life of Bees,Sue Monk Kidd,2002,Viking Books,http://images.amazon.com/images/P/0670894605.0...,188
1145,21014,670894605,8,The Secret Life of Bees,Sue Monk Kidd,2002,Viking Books,http://images.amazon.com/images/P/0670894605.0...,188
1146,35859,670894605,8,The Secret Life of Bees,Sue Monk Kidd,2002,Viking Books,http://images.amazon.com/images/P/0670894605.0...,188
1153,145641,670894605,0,The Secret Life of Bees,Sue Monk Kidd,2002,Viking Books,http://images.amazon.com/images/P/0670894605.0...,188
...,...,...,...,...,...,...,...,...,...
121024,232131,743486226,0,Angels &amp; Demons,Dan Brown,2003,Atria,http://images.amazon.com/images/P/0743486226.0...,172
121027,217375,671027352,0,Angels &amp; Demons,Dan Brown,2000,Atria,http://images.amazon.com/images/P/0671027352.0...,172
121029,46398,743535774,4,Angels &amp; Demons,Dan Brown,2003,Audioworks,http://images.amazon.com/images/P/0743535774.0...,172
121032,125519,743535766,0,Angels &amp; Demons,Dan Brown,2003,Simon &amp; Schuster Audio,http://images.amazon.com/images/P/0743535766.0...,172
125077,16795,345019520,0,Sphere,Michael Crichton,1993,Ballantine Books,http://images.amazon.com/images/P/0345019520.0...,104

In [143]:
Finale_rating.shape

(50851, 9)

In [144]:
# drop out duplicates 
F_R=Finale_rating.drop_duplicates(['Title','User_ID'])

In [145]:
F_R.shape

(49070, 9)

In [146]:
# create a pivot table
pivot_table = F_R.pivot_table( values='Rating_y',index='Title',columns='User_ID',)

In [147]:
pivot_table

User_ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,249628,249862,249894,250184,250405,250764,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,149.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,109.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,54.0,NaN,NaN,NaN,NaN,54.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,57.0,NaN,NaN,NaN,NaN,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
# fill nan value woth 0
p_table = pivot_table.fillna(0)

In [149]:
p_table

User_ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,249628,249862,249894,250184,250405,250764,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,149.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,109.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,63.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,54.0,0.0,0.0,0.0,0.0,54.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,57.0,0.0,0.0,0.0,0.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,53.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [150]:
import scipy

In [151]:
# we can not fit out pivot table on model so we create a csr_matrix with neglet our 0 in pivot table
from scipy.sparse import csr_matrix

In [152]:
book_sparse = csr_matrix(p_table)

In [153]:
book_sparse

<626x804 sparse matrix of type '<class 'numpy.float64'>'
	with 49070 stored elements in Compressed Sparse Row format>

In [154]:
from sklearn.neighbors import NearestNeighbors

In [155]:
model = NearestNeighbors(algorithm = 'brute')

In [156]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [160]:
# take out two thingh from our model and testing model
# where we give 200 index position as input data of pivot table 
# n_neighbors gives as number of result or recommandation
Distance,Suggestion = model.kneighbors(p_table.iloc[126,:].values.reshape(1,-1), n_neighbors=6)

In [159]:
# distace means wwhich book is near from all of our books
Distance

array([[  0.        , 398.32273347, 417.42065114, 417.45299137,
        434.56645061, 434.90688659]])

In [161]:
# it gives index of recommandated book
Suggestion

array([[126,  84, 309,  54, 127, 529]], dtype=int64)

In [164]:
# using for loop for iteration and print the book name 
# it print the len output like suggestion and iterated them
# than the name of book is present in index of p_table so print them
# on the basis of index of suggestion
for i in range(len(Suggestion)):
    print(p_table.index[Suggestion[i]])

Index(['Desperation', 'Carrie', 'Nightmares &amp; Dreamscapes', 'Bag of Bones',
       'Different Seasons', 'The Regulators'],
      dtype='object', name='Title')

In [167]:
# all book name store in book_i
book_i = p_table.index

In [168]:
book_i

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short',
       ...
       'Winter Moon', 'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wuthering Heights', 'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Title', length=626)

In [169]:
# store all our data in our laptop by use pickle
import pickle
pickle.dump(model,open('C:/Users/ritik/OneDrive/Desktop/artifacts/model.pkl','wb'))
pickle.dump(book_i,open('C:/Users/ritik/OneDrive/Desktop/artifacts/book_i.pkl','wb'))
pickle.dump(F_R,open('C:/Users/ritik/OneDrive/Desktop/artifacts/F_R.pkl','wb'))
pickle.dump(p_table,open('C:/Users/ritik/OneDrive/Desktop/artifacts/p_table.pkl','wb'))

In [173]:
# create a funtion for recommandation
def Book_Recommandation(book_i):
    book_Id = np.where(p_table.index == book_i)[0][0] # use [0][0]   for  remove list or dtype of book id
    Distance,Suggestion = model.kneighbors(p_table.iloc[book_Id,:].values.reshape(1,-1), n_neighbors=6)
    
    for i in range(len(Suggestion)):
        books = p_table.index[Suggestion[i]]
        for j in books:# this is use for print the name of book in clear form not in list 
            print(j)

In [175]:
# give a input
book_i='Year of Wonders'

In [177]:
# TEST OUR MODEL
Book_Recommandation(book_i)

Year of Wonders
Notes from a Small Island
Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies
Peace Like a River
The Pull of the Moon
Range of Motion